.viz {
  transform: scaleX(-1) rotate(270deg) ;
}

.background {
  fill: none;
  pointer-events: all;
}

#states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-width: 1.5px;
  /* transform: scaleX(1.5); Scale the map to it extends vertically */
}

.active {
  display: none;
}

.county-boundary {
  stroke: #fff;
  stroke-width: 0.5px;
}

.county-boundary:hover,
.state:hover {
  fill: #002b5b;
}